@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&family=Open+Sans&display=swap");
/*$primario:#d9bd83;
$secundario: #0f4545;
$terciario: #d8916f;
$fondo: #f9f9f9;
$texto: #061a10;
$texto-secundario: #e2e2a3;*/
body {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
}

.type-light {
  font-family: "montserrat", sans-serif;
  font-weight: 200;
}

.type-semilight {
  font-family: "montserrat", sans-serif;
  font-weight: 300;
}

.type-regular {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
}

.type-bold {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
}

/*GENERAL***/
body {
  background-color: #f9f9f9;
  font-size: 12px;
  color: #000311;
}

/*INDEX****/
.fondoIndex {
  background-image: url(../images/fondo1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.fondoIndex .navbar-nav {
  position: absolute;
  z-index: 100;
  background: rgba(23, 25, 52, 0.8);
  left: 0;
}

.fondoIndex .navbar-nav:hover {
  background: #171934;
}

.fondoIndex .navbar-nav a {
  color: #b2dee5;
}

.fondoIndex .navbar-nav .submenu {
  background: rgba(128, 160, 177, 0.8);
  font-size: 1em;
}

.fondoIndex .navbar-nav .submenu:hover {
  background: #80a0b1;
}

.fondoIndex .navbar-nav .submenu a {
  color: #171934;
}

.fondoIndex .indexMain {
  margin-top: 5.5rem;
}

.fondoIndex .indexMain .indexMain__titulo {
  font-size: 3em;
  font-weight: 600;
  text-shadow: 0.8px 0.8x 3px #171934;
}

.fondoIndex .indexMain .indexMain__subtitulo {
  margin-top: 1rem;
  font-size: 1.4em;
}

.fondoIndex .indexMain .indexMain__boton {
  margin-top: 1.5rem;
  background: rgba(23, 25, 52, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 0.5px solid #171934;
}

.fondoIndex .indexMain .indexMain__boton:hover {
  background: #171934;
}

.fondoIndex .indexMain .indexMain__boton a {
  text-decoration: none;
  color: #b2dee5;
}

.fondoIndex .indexFooter {
  margin-top: 5rem;
}

.fondoIndex .indexFooter img {
  width: 3.5rem;
}

/*SERVICIOS****/
.carouselServicios {
  width: 80vw;
  margin: auto;
  margin-top: 1.7rem;
  padding-top: 2rem;
}

.carouselServicios .carousel__img {
  margin: auto;
}

#masajes h3, #faciales h3, #meditacion h3, #manicuria h3, #circuito h3 {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 3em;
}

#masajes img, #faciales img, #meditacion img, #manicuria img, #circuito img {
  margin-top: 4rem;
}

#masajes, #meditacion, #circuito {
  background-color: #eeeeee;
}

/*CONTACTO***/
.contactMain {
  margin-top: 20vh;
}

.contactMain .consultas__titulo, .contactMain .infoContacto__titulo {
  font-size: 2em;
  font-weight: 600;
}

.contactMain .consultas__subtitulo, .contactMain .infoContacto__subtitulo {
  font-size: 1.1em;
}

.contactMain .formConsultas__label {
  font-weight: 600;
}

.contactMain .formConsultas__label--check {
  font-weight: 400;
}

.contactMain .formConsultas__button {
  background-color: #171934;
  color: #b2dee5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contactMain .formConsultas__button:hover {
  background-color: #000311;
}

.contactMain .formConsultas__input {
  border: 1px solid #80a0b1;
}

.contactMain .infoContacto__item {
  list-style-type: none;
  font-size: 1.5em;
  padding: 1rem;
}

.contactMain .infoContacto__item--horarios {
  font-size: 1em;
  padding-top: 2rem;
}

/*FOOTER NO INDEX***/
.noIndexFooter .noIndexFooter__img {
  width: 35px;
  padding-top: 1rem;
}

.noIndexFooter .noIndexFooter__form {
  max-width: 100%;
}

.noIndexFooter .noIndexFooter__form .footerForm__button {
  background-color: #171934;
  border: 1px solid #000311;
  color: #b2dee5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.noIndexFooter .noIndexFooter__form .footerForm__button:hover {
  background-color: #000311;
}

/*NO INDEX NAV***/
.nav {
  background-color: #fff;
}

.nav .nav__item a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #171934;
  font-size: 1.3em;
}

.nav .nav__item a:hover {
  color: #000311;
}

.nav .nav__button {
  border: 2.3px solid #171934;
  color: #000311;
}

.nav .nav__button:hover {
  background-color: #171934;
  color: #b2dee5;
}

/*RESERVAS***/
.formReservas {
  margin-top: 17vh;
}

.formReservas .formReservas__titulo {
  font-size: 2em;
  font-weight: 600;
}

.formReservas .formReservas__label {
  font-size: 15px;
}

.formReservas .formReservas__button {
  background-color: #171934;
  border: 1px solid #000311;
  color: #b2dee5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.formReservas .formReservas__button:hover {
  background-color: #000311;
}

.carouselOpiniones {
  margin-top: 20vh;
}

.carouselOpiniones .carouselOpiniones__subtitulo {
  font-size: 1.2em;
}

.carouselOpiniones .carouselOpiniones__inner {
  width: 100%;
  border: 0.5px solid #171934;
}

/*GALERIA***/
.tituloGaleria {
  font-size: 3.5em;
  font-weight: 600;
  margin-top: 15vh;
}

/*SOBRENOSOTROS***/
.tituloSobreNosotros {
  margin-top: 18vh;
  font-size: 3.5em;
  font-weight: 600;
}

.sobreNosotrosImg img {
  width: 200px;
  margin: auto;
  border: 0.5px solid #171934;
}

/*
@import "mediaqueries";*/
/*# sourceMappingURL=estilos.css.map */