body {
    font-family: $font;
    font-weight: $font-regular;
}

.type-light {
    font-family: $font;
    font-weight: $font-light;
}

.type-semilight {
    font-family: $font;
    font-weight: $font-semilight;
}

.type-regular {
    font-family: $font;
    font-weight: $font-regular;
}

.type-bold {
    font-family: $font;
    font-weight: $font-bold ;
}