/*GENERAL***/

body {
    background-color: #f9f9f9;
    font-size: 13px;
    color: $texto;
   
}

.boldFont {
    font-weight: 600;
}

/*INDEX****/

.fondoIndex {
  background-image: url(../images/fondo1.jpg);
  background-position: center;
  background-size: cover;
  height: auto;
  min-height: 100vh; 
  .navbar-nav {
      position: absolute;
      z-index: 100;
      background: rgba(23, 25, 52, 0.8);
      left: 0;
      transition: .5s;
      &:hover {
          background: $secundario;
      }
      a {
      color: $texto-secundario;
      font-size: 1.3em;
        }
        .submenu {
          background: rgba(128, 160, 177, 0.8);
          font-size: 1em;
      }
  }
  .indexMain {
      margin-top:5.5rem;
      .indexMain__titulo {
          font-size: 3em;
          font-weight: $font-bold;
          text-shadow: .8px .8x 3px $secundario;
      }
      .indexMain__subtitulo {
          margin-top: 1rem;
          font-size: 1.4em;
      }
      .indexMain__boton {
          margin-top: 1.5rem;
          background: rgba(23, 25, 52, 0.3);
          transition: 0.5s;
          border: 0.5px solid #171934;
          &:hover {
              background: $secundario;
          }
          a {
              text-decoration: none;
              color: $texto-secundario;
          }
         
      }
  }
     .indexFooter {
        margin-top: 5rem;

    img {
        width: 3.5rem;
        height: 3.5rem;
    }
}
}

/*SERVICIOS****/

.serviciosMain {

    min-height: 0;
    .carouselServicios {

	    width: 80vw;
	    margin: auto;
	    margin-top: 15vh;
        margin-bottom: 3rem;
        .carousel-caption {

            color: $secundario;
            background: rgba($color: $texto-secundario, $alpha: 0.3);
            }
        .carousel__img {

            margin: auto;
        }
    }
}
.articleDos {
#masajes, #faciales, #meditacion, #manicuria, #circuito {

    h3 {
        font-size: 2em;
        margin-top: 2rem;
        background-color: $primario;
    }
    


    .articuloServicios {
        background: rgba($color: $secundario, $alpha: .1);
        margin-top: 1rem;
        padding: .3rem;

        .textoServicios {
            padding: 1rem;
            display: flex;
            align-items: center;
        }
        
        .imgServicios{
            margin: auto ; 
            display: block; 
        }
    }
}

}

/*CONTACTO***/

.contactMain {
    margin-top: 20vh;
    .consultas__titulo, .infoContacto__titulo {
        font-size: 2em;
        font-weight: $font-bold;
    }
    .consultas__subtitulo, .infoContacto__subtitulo {
        font-size: 1.1em;
    }
    .formConsultas__label {
        font-weight: $font-bold;
        }
    .formConsultas__label--check {
        font-weight: $font-regular;
    }
    .formConsultas__button {
        background-color: $secundario;
        color: $texto-secundario;
        transition: 0.5s;
        &:hover {
            background-color: $texto;
        }
    }
    .formConsultas__input {
        border: 1px solid $primario;
        transition: .5s;
        &:focus {
         border-color: $primario;
         box-shadow: 2px 2px 2px 2px 3px $primario;
        }
    }
    .infoContacto__item {
        list-style-type: none;
        font-size: 1.3em;
        padding: .5rem;
    }
    
    .infoContacto__item--horarios {
        font-size: .9em;
        padding-top: 2rem;
    }
    textarea.form-control {
        resize: none;
    }
    }



/*FOOTER NO INDEX***/


.noIndexFooter {
    background: $secundario;
    font-size: .9em;
    color: $texto-secundario;
    margin-top: 1rem;
    padding-top:1.5rem;
    
    img {
        width: 2.5rem;
    }
    .form-control {
        transition: .5s;
        &:focus {
         border-color: $primario;
         box-shadow: 2px 2px 2px 2px 3px $primario;
        }
    }
    .btn-outline-secondary {
        border-color: $texto-secundario;
        color: $texto-secundario;
        transition: .5s;
        &:hover {
            background: $texto-secundario;
            color: $secundario;
        }
    }
}
 /*NO INDEX NAV***/

.nav {
    background-color: #fff;
    .logo {
        width: 6em;
    }
    .nav__item {
        a {
            text-decoration: none;
            transition:0.5s;
            color: $secundario;
            font-size: 1.3em;
            text-align: center;
            &:hover {
                color: $texto;
            }
        }
        
        .noIndexSubmenu {
            background: rgba(128, 160, 177, 0.9);
            .dropdown-item{
                transition: 0.5s;
                font-size: 1em;
                &:hover {
                    background: $primario;
                    color: $secundario;
                }
            }
        }

    }
    .nav__button {
        text-align: center;
        display: block;
        font-size: 1.2em; 
        background: $secundario;
        width: 180px;
        margin: auto;
        color: $texto-secundario;
        


    }
   
}


/*RESERVAS***/

.formReservas {
    margin-top: 10vh;
    .formReservas__titulo {
        font-size: 2em;
        font-weight: $font-bold;
    }

    .formReservas__label {
        font-size: 15px;
    }
    .form-control {
    border: 1px solid $primario;
    transition: .5s;
    &:focus {
     border-color: $primario;
     box-shadow: 2px 2px 2px 2px 3px $primario;
    }
}
    .formReservas__button {
        background-color: $secundario;
        border: 1px solid $texto;
        color: $texto-secundario;
        transition: 0.5s;
        &:hover {
            background-color: $texto;
        }

    }
    
}

.carouselOpiniones {
   

    .carouselOpiniones__subtitulo {
        font-size: 1.5em;
        font-weight: $font-bold;
    }

    .carouselOpiniones__inner {
        width: 100%;
        border: 0.5px solid $secundario;
        
        .blockquote {
            color: $secundario;
            
        }
     
    
}
    
    
}

/*GALERIA***/

.tituloGaleria {
    font-size:2.2em;
    font-weight: $font-bold;
    margin-top: 15vh;
}

/*SOBRENOSOTROS***/

.tituloSobreNosotros {
    margin-top: 18vh;
    font-size:2.2em;
    font-weight: $font-bold;
   
} 

.sobreNosotrosImg {
    img {
        width: 160px;
        height: 200px;
        margin: auto;
        border: 0.5px solid $secundario;
    }
}
