/*GENERAL***/

body {
    background-color: #f9f9f9;
    font-size: 12px;
    color: $texto;
   
}
/*INDEX****/
.fondoIndex {
  background-image: url(../images/fondo1.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh; 
  .navbar-nav {
      position: absolute;
      z-index: 100;
      background: rgba(23, 25, 52, 0.8);
      left: 0;
      &:hover {
          background: $secundario;
      }
      a {
      color: $texto-secundario;
      
        }
        .submenu {
          background: rgba(128, 160, 177, 0.8);
          font-size: 1em;
          &:hover {
              background: $primario;
          }
          a {
              color: $secundario;
          }
      }
  }
  .indexMain {
      margin-top:5.5rem;
      .indexMain__titulo {
          font-size: 3em;
          font-weight: $font-bold;
          text-shadow: .8px .8x 3px $secundario;
      }
      .indexMain__subtitulo {
          margin-top: 1rem;
          font-size: 1.4em;
      }
      .indexMain__boton {
          margin-top: 1.5rem;
          background: rgba(23, 25, 52, 0.3);
          transition: 0.5s;
          border: 0.5px solid #171934;
          &:hover {
              background: $secundario;
          }
          a {
              text-decoration: none;
              color: $texto-secundario;
          }
         
      }
  }
    

    .indexFooter {
        margin-top: 5rem;
    img {
        width: 3.5rem;
    }
}
}
/*SERVICIOS****/


.carouselServicios {
	width: 80vw;
	margin: auto;
	margin-top: 1.7rem;
	padding-top: 2rem;
    .carousel__img {
        margin: auto;

    }
}

#masajes, #faciales, #meditacion, #manicuria, #circuito {
    h3 {
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-weight: $font-bold;
    font-size: 3em;
 }
    img{
    margin-top: 4rem ;
}
}



#masajes, #meditacion, #circuito {
	background-color: #eeeeee;
}

/*CONTACTO***/

.contactMain {
    margin-top: 20vh;
    .consultas__titulo, .infoContacto__titulo {
        font-size: 2em;
        font-weight: $font-bold;
    }
    .consultas__subtitulo, .infoContacto__subtitulo {
        font-size: 1.1em;
    }
    .formConsultas__label {
        font-weight: $font-bold;
        }
    .formConsultas__label--check {
        font-weight: $font-regular;
    }
    .formConsultas__button {
        background-color: $secundario;
        color: $texto-secundario;
        transition: 0.5s;
        &:hover {
            background-color: $texto;
        }
    }
    .formConsultas__input {
        border: 1px solid $primario;
    }
    .infoContacto__item {
        list-style-type: none;
        font-size: 1.5em;
        padding: 1rem;
    }
    
    .infoContacto__item--horarios {
        font-size: 1em;
        padding-top: 2rem;
    }
    }



/*FOOTER NO INDEX***/


.noIndexFooter {
    .noIndexFooter__img {
       width: 35px;
       padding-top: 1rem;
    }
    .noIndexFooter__form {
       max-width: 100%;
       .footerForm__button {
        background-color: $secundario;
        border: 1px solid $texto;
        color: $texto-secundario;
        transition: 0.5s;
        &:hover {
            background-color: $texto;
        }

       }
    }
}
 /*NO INDEX NAV***/

.nav {
    background-color: #fff;
    .nav__item {
        a {
            text-decoration: none;
            transition:0.5s;
            color: $secundario;
            font-size: 1.3em;
            &:hover {
                color: $texto;
            }
        }

    }
    .nav__button {
        border: 2.3px solid $secundario;
        color: $texto;
    &:hover {
        background-color: $secundario;
        color: $texto-secundario;
    }
    }
}


/*RESERVAS***/

.formReservas {
    margin-top: 17vh;
    
    .formReservas__titulo {
        font-size: 2em;
        font-weight: $font-bold;
    }

    .formReservas__label {
        font-size: 15px;
    }
    .formReservas__button {
        background-color: $secundario;
        border: 1px solid $texto;
        color: $texto-secundario;
        transition: 0.5s;
        &:hover {
            background-color: $texto;
        }

    }
    
}

.carouselOpiniones {
    margin-top: 20vh;
    .carouselOpiniones__subtitulo {
        font-size: 1.2em;
    }
    .carouselOpiniones__inner {
        width: 100%;
        border: 0.5px solid $secundario;
    }
    
    
}

/*GALERIA***/

.tituloGaleria {
    font-size:3.5em;
    font-weight: $font-bold;
    margin-top: 15vh;
}

/*SOBRENOSOTROS***/

.tituloSobreNosotros {
    margin-top: 18vh;
    font-size:3.5em;
    font-weight: $font-bold;
   
} 

.sobreNosotrosImg {
    img {
        width: 200px;
        margin: auto;
        border: 0.5px solid $secundario;
    }
}