/*TABLET***/

@media (min-width: 768px) {
    body {
    font-size: 20px; 
    /*index***/
    .fondoIndex {
        height: 100vh;
        .logo {
            width: 9rem;
        }
        .hamburguesa {
            width: 30px;
        }
    .indexMain {
        margin-top: 15vh;
        .indexMain__boton {
            width: 10rem;
            height: 3.5rem;
            margin-top: 5rem;
        }
    }
    .indexFooter {
        margin-top: 5rem;
        img {
            width: 4.5rem;
            height: 4.5rem;
        }
    }
}

   /*nav no index***/

    .logo {
    width: 9rem;
  }
    .hamburguesa {
    width: 30px;
}
.nav__item {
    a {
        font-size: 1.5em;
    }

}
}
}


/*DESKTOP***/

@media (min-width:1100px) {
/*index***/
    body {
       font-size: 16px;
       .fondoIndex {
           height: 100%;
     
     .indexNav {
            margin-right: 1.5rem;
        .navbar-nav {
            background: none;
        }
            
            .submenu {
                .dropdown-item{
                    transition: 0.5s;
                    &:hover {
                        background: $primario;
                        color: $secundario;
                    }
                }
            }
            .indexNav__item { 
                a{
                font-size: 1.1em;
                color: $secundario;
                transition: .5s;
               
                &:hover {
                    color: $primario;
                    }
                }
             
            }
               
            }
            .indexMain {
            .indexMain__titulo {
                font-size: 2.7em !important;
            }
            .indexMain__boton {
                width: 8rem;
                height: 3.1rem;
                margin-top: 5rem;
            }
        }
        }
    }
    .indexFooter {
        margin-top: 5rem;
        img {
            width: 3rem;
            height: 3rem;
            margin-bottom: 1rem;
        }
        }
    


/*no index nav***/
.noIndexNav{
    .nav__button {
        border: 1.5px solid $secundario;
        padding: .3rem;
        background: rgba($color: #000000, $alpha: 0);
        color: $secundario;
        font-size: 1.3em;
        transition: .5s;
    &:hover {
        background-color: $secundario;
        color: $texto-secundario;
    }
    }
.nav__item {
    .nav-link {
        font-size: 1.1em;
        &:hover {
            color: $primario;
        }
    }

}

}
/*SERVICIOS***/
.carousel {
    margin-top: 18vh !important;
    .carousel-caption {
    
    color: $secundario;
    background: rgba($color: $texto-secundario, $alpha: 0.3);
    }
}
.articleDos {
    h3 {
        margin-top: 2rem;
        padding-top: 1rem;
    }
    .articuloServicios {
        border: 0;
    }
}
}
  
/*MOBILE***/

@media (max-width: 768px) {
    /*SERVICIOS***/
    .articuloServicios {
    border: 0.05px solid $secundario;
    box-shadow: 0.5px .5px 1px $texto;
}
}

/*Arreglando problema del background nav***/
@media (min-width: 990px) {
    .indexNav {
        .navbar-nav {
            background: none;
            .nav-link {
                color: $secundario;
            }
        }

}
}