/*TABLET***/

@media (min-width: 768px) {
    body {
    font-size: 20px;
    .fondoIndex {
        height: 100%;
        .logo {
            width: 9rem;
        }
        .hamburguesa {
            width: 30px;
        }
    .indexMain {
        margin-top: 15vh;
        .indexMain__boton {
            width: 10rem;
            height: 3.5rem;
            margin-top: 5rem;
        }
    }
    .indexFooter {
        margin-top: 6rem;
        img {
            width: 4.5rem;
        }
    }
}
}
}

/*DESKTOP***/

@media (min-width:992px) {
    body {
        font-size: 16px;
    .fondoIndex {
        height: 100%;
        .indexNav {
            margin-right: 1.5rem;
        .navbar-nav {
            background: none;
        }
            
            .submenu {
                .dropdown-item{
                    &:hover {
                        background: $primario;
                        color: $secundario;
                    }
                }
            }
            .indexNav__item {
                a{
                color: $secundario;
                transition: .5s;
                &:hover {
                    color: $primario;
                    }
                }
             
            }
               
            }
        }
    }
    .indexFooter {
        margin-top: 3rem;
        img {
            width: 4rem;
            margin-bottom: 1.5rem;
        }
        }
    }


