/*TABLET Y MOBILE***/

@media (max-width: 991px) {
    .fondoIndex {
        height: 100vh;
   
        .indexNav {
    position: absolute;
    
            .navbar-toggler {
        position: fixed;
        top: 0;
        right: 0;
        margin: 1rem;
      
    }
            .navbar-collapse {
            transition: 0.7s;
            .navbar-nav {
                position:relative;
                background-color: #171934;
                z-index:100;
                border-radius: 2%;
    
}
}
}
    .indexText {
        margin-top: 6rem; 
        .indexMain__subtitulo {
            font-size: 3em;
            margin-top: 3rem;
        }
    }

.indexFooter {
    margin-top: 1rem; 
    img {
        width:75px;
        margin-top: 4rem;
    }

}
}
}

/*MOBILE***/

@media (max-width: 768px) {
    .indexText {
        margin-top: 1rem;
        .indexMain__titulo {
            font-size: 3em;
}
        .indexMain__subtitulo {
            font-size: 2em !important;
            margin-top: 1rem !important;
}

}
    .indexMain__boton {
        margin-top: 1.3rem;
    }
    .indexFooter {
        margin-top: 4rem;
        img {
            width: 45px !important;
            margin-top: .5rem;
        }
        
    }

}


