/*$primario:#d9bd83;
$secundario: #0f4545;
$terciario: #d8916f;
$fondo: #f9f9f9;
$texto: #061a10;
$texto-secundario: #e2e2a3;*/

$texto: #000311;
$primario: #80a0b1;
$fondo:#f9f9f9;
$secundario: #171934;
$texto-secundario: #b2dee5;



$negro: #000311;
$celeste: #b2dee5;
$azul: #171934;
$gris: #f9f9f9;

$font:'montserrat', sans-serif;
$font-light: 200;
$font-semilight:300;
$font-regular:400;
$font-bold: 600;

$mobile:  768px;
$tablet: 992px;
$desktop: 1200px;
